body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 150px;  /* Измените размер по необходимости */
    height: auto;
    margin-right: 10px;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

